@model IEnumerable<Student_Job_Finder.Models.JobPost>

<div class="container mypost-container">

<h2 class="mypost-title">My Job Posts</h2>

@if (!Model.Any())
{
    <p class="mypost-nopost-text">You have no job posts yet.</p>
    <a class="btn btn--form" href="/JobPost/AddPost">Add a post</a>
}
else
{
    <div class="mypost-posts-list">

        <a class="btn btn--form" href="/JobPost/AddPost">Add a post</a>

        @foreach (var post in Model)
        {
            <div class="mypost-post-card">
            
                <a href="/JobPost/PostSingle/@post.PostId" class="mypost-post-title">
                        @post.PostTitle
                </a>

                <div class="mypost-post-info-container">
                    <p class="mypost-post-price">
                        @post.Price.ToString("0.00") €
                        / @post.PricePeriod
                    </p>

                        <p class="mypost-post-date">
                        Created: @post.PostCreated.ToString("dd MMM yyyy")
                    </p>
                </div>

                <div class="mypost-post-buttons">
                    <form method="post" action="/JobPost/DeletePost/@post.PostId" class="mypost-form">
                        <button type="submit" class="btn btn--form">
                            Delete post
                        </button>
                    </form>

                    <a class="btn btn--form"
                       href="/JobPost/EditPost/@post.PostId">
                        Edit post
                    </a>

                    <a class="btn btn--form"
                       href="/JobApplication/Applications/@post.PostId">
                        Applications
                    </a>
                </div>

            </div>
        }
    </div>
}

</div>
