<div class="container grid grid--2-cols grid--center-v">

    <div class="step-text-box">
        <p class="step-number">01</p>
        <h3 class="heading-tertiary">
            Create your student profile
        </h3>
        <p class="step-description">
            Kickstart your career by setting up your account. Ensure you select
            the <strong>Student</strong> role during registration to access
            our specialized skill-mapping tools and personalized job dashboard
            designed specifically for emerging talent.
        </p>
    </div>

    <div class="step-img-box">
        <img src="~/Img/Student-Account-Creation.png"
             class="step-img" />
    </div>

    <div class="step-img-box">
        <img src="~/Img/Student-Dashboard.png"
             class="step-img" />
    </div>
    <div class="step-text-box">
        <p class="step-number">02</p>
        <h3 class="heading-tertiary">Analyze your skills with AI</h3>
        <p class="step-description">
            Simply upload your university transcript to see your expertise visualized. Our AI
            extracts your current skills and instantly identifies
            <strong>Growth Opportunities</strong>—revealing high-value jobs
            that are within reach if you advance just a single skill level.
        </p>
    </div>

    <div class="step-text-box">
        <p class="step-number">03</p>
        <h3 class="heading-tertiary">Find your perfect job match</h3>
        <p class="step-description">
            Every job post features a <strong>Match Score</strong> based on your
            unique profile. If you aren't a 100% match, a chevron will appear;
            clicking it reveals exactly which skills you need to develop.
            This transparency allows you to see the precise areas where
            the job requirements exceed your current levels.
        </p>
    </div>
    <div class="step-img-box">
        <img src="~/Img/Student-Match-Card.png"
             class="step-img" />
    </div>
</div>