<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">
                Your skills, your career — perfectly matched
            </h1>
            <p class="hero-description">
                Discover job opportunities tailored to your skills and experience. Upload your transcripts,
                get your skills analyzed, and let employers find you.
            </p>
            <a href="#cta" class="btn btn--full margin-right-sm">Get Started</a>

            <a href="#how" class="btn btn--outline">Learn more &darr;</a>
        </div>
        <img src="~/Img/Logo.png" class="hero-img" />
    </div>


    <section class="section-how" id="how">
        <div class="container">
            <span class="subheading">How it works</span>
            <h2 class="heading-secondary">
                Your journey from student to professional in 3 steps
            </h2>

            <div class="tutorial-toggle">
                <a asp-action="Index" asp-route-viewType="student"
                   class="btn btn--toggle @(ViewBag.ActiveView == "student" ? "btn--active" : "")">
                    For Students
                </a>

                <a asp-action="Index" asp-route-viewType="recruiter"
                   class="btn btn--toggle @(ViewBag.ActiveView == "recruiter" ? "btn--active" : "")">
                    For Recruiters
                </a>
            </div>

        </div>

        @if (ViewBag.ActiveView == "student")
        {
            @await Html.PartialAsync("_StudentTutorial")
        }
        else
        {
            @await Html.PartialAsync("_RecruiterTutorial")
        }

        
    </section>


</section>