@{
    Layout = "Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Job Finder</title>

    <link rel="stylesheet" href="~/Css/Home.css" />
    <link rel="stylesheet" href="~/Css/General.css" />

</head>
<body>
        <span>Hello world</span>
</body>
</html>