@model Student_Job_Finder.Dtos.UserForLoginDto

<section class="login-section">
    <div class="login-container">
        <h2>Login</h2>

        <form class="login-form" action="/Auth/Login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" name="Email" type="email" required />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input asp-for="Password" name="Password" type="password" required />
            </div>

            <button type="submit" class="btn btn--form">Login</button>
        </form>
    </div>
</section>
