<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Css/Home.css" />
    <link rel="stylesheet" href="~/Css/General.css" />
    <link rel="stylesheet" href="~/Css/Navigation.css" />
    <link rel="stylesheet" href="~/Css/Register.css" />
    <link rel="stylesheet" href="~/Css/Login.css" />
    <link rel="stylesheet" href="~/Css/Profile.css" />
    <link rel="stylesheet" href="~/Css/MyPosts.css" />
    <link rel="stylesheet" href="~/Css/JobPost.css" />
    <link rel="stylesheet" href="~/Css/AddPost.css" />
    <link rel="stylesheet" href="~/Css/EditPost.css" />
    <link rel="stylesheet" href="~/Css/MatchedJobs.css" />
    <link rel="stylesheet" href="~/css/Applications.css" />
    <link rel="stylesheet" href="~/Css/TakeQuiz.css" />


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>

    @await Html.PartialAsync("Navigation")

    <main role="main">
        @RenderBody()
    </main>

</body>
</html>
