<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Css/Home.css" />
    <link rel="stylesheet" href="~/Css/General.css" />
    <link rel="stylesheet" href="~/Css/Navigation.css" />
    <link rel="stylesheet" href="~/Css/Register.css" />
    <link rel="stylesheet" href="~/Css/Login.css" />
    <link rel="stylesheet" href="~/Css/Profile.css" />
</head>
<body>

    @await Html.PartialAsync("Navigation")

    <main role="main">
        @RenderBody()
    </main>

</body>
</html>
