@{
    var role = User.FindFirst("userRole")?.Value;
}


<header class="header">

    <nav class="main-nav">
        <ul class="main-nav-list">
            @if (User.Identity.IsAuthenticated)
            {
                if (role == "Student")
                {
                    <li><a class="main-nav-link" href="/StudentSkill/MySkills">Dashboard</a></li>
                } 
                else if(role == "Recruiter")
                {
                    <li><a class="main-nav-link" href="/JobPost/MySkills">Job Posts</a></li>
                }
                <li>
                    <form action="/Auth/Logout" method="post">
                        <button type="submit" class="btn btn--form">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <li><a class="main-nav-link" href="/Auth/Register">Sign Up</a></li>
                <li><a class="main-nav-link" href="/Auth/Login">Login</a></li>
            }
        </ul>
    </nav>
</header>
